include README.md
include LICENSE
include pyproject.toml
include Cargo.toml
include Cargo.lock
recursive-include src *.py *.pyi
recursive-include src *.rs
exclude ../README.md
exclude ../Cargo.toml
exclude ../Cargo.lock
global-exclude *.pyc
global-exclude __pycache__
global-exclude .pytest_cache
global-exclude .mypy_cache
global-exclude .ruff_cache
global-exclude target
global-exclude .venv
global-exclude htmlcov
global-exclude *.egg-info
